body {
    background-color: #ffe4c4;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header.primary {
    font-family: "Brush Script MT", Georgia, serif;
    color: #E00000;
    font-size: 48px;
    text-align: center;
}

.recipe {
    color: #000000;
    font-size: 18px;
}

.header {
    text-align:center;
}